{% set succsess = 'null' %}

<div class="modal fade" id="request-call" tabindex="-1" role="dialog" aria-labelledby="requestCallLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {% if succsess == 'true' %}
        <div class="message-wrap">
          <span class="message succsess">
            Спасибо за ваше сообщение, наш специалист свяжется<br>
            с вами в ближайшее время.
          </span>
        </div>
      {% elseif succsess == 'false' %}
        <div class="message-wrap">
          <span class="message error">
            Извините, но ваше сообщение не отправлено.<br>
            Попробуйте связаться с нами по телефону {{ this.theme.contacts.phone }}
          </span>
        </div>
      {% elseif succsess == 'null' %}
        <form class="modal-from" data-request="callbackForm::onFormSubmit">
          {{ form_token() }}
          <h5 class="form-headline">Заказать звонок</h5>
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="username">Ваше ФИО</label>
              <input class="form-control" type="text" name="username" id="username" placeholder="Иванов Иван Иванович" required>
            </div>
            <div class="col-md-6 form-group">
              <label for="phone">Тел</label>
              <input class="form-control" type="text" name="phone" id="phone" data-phone="true" placeholder="Введите номер" required>
            </div>
            <div class="col-12 form-checkbox">
              <input type="checkbox" class="custom-control-input" id="checkbox" name="checkbox" required>
              <label class="custom-control-label" for="checkbox">Отправляя сообщение, вы соглашаетесь с Политикой конфиденциальности</label>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-block btn-blue">Отправить</button>
            </div>
            <div id="callbackForm_forms_flash" class="mt-3"></div>
          </div>
        </form>
      {% endif %}
      <button class="btn btn-modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fal fa-times"></i>
      </button>
    </div>
  </div>
</div>


