/vendor
/storage
/modules
/config
/bootstrap
/plugins/bedard/debugbar
/plugins/rainlab/debugbar
/plugins/offline/clockwork

.env
.user.ini
artisan
.htaccess
/index.php
server.php
composer.json
composer.lock
.DS_Store
.idea
composer.json
composer.lock
error_log
php.ini